<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <!--<add name="deltaDB" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\DeltaDB.mdf;Integrated Security=True;MultipleActiveResultSets=True" />-->
    <!--Data Source=(localdb)\.\SharedDB;Initial Catalog=deltadb;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False-->
    <!--<add name="deltaDB" providerName="System.Data.SqlClient" connectionString="Data Source=(localdb)\.\SharedDB;Initial Catalog=deltadb;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />-->
    <add name="deltaDB" providerName="System.Data.SqlClient" connectionString="Server=tcp:databaseserver777.database.windows.net,1433;Initial Catalog=DeltaDb;Persist Security Info=False;User ID=amiteam;Password=dr34mt34m4m1@;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
    <!-- VS2013: -->
    <!--connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\CalculatorDB.mdf;Integrated Security=True;"-->
    <!-- VS2015: -->
    <!--connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\CalculatorDB.mdf;Integrated Security=True"-->
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>