<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <!--<add name="deltaDB" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\DeltaDB.mdf;Integrated Security=True;MultipleActiveResultSets=True" />-->
    <add name="deltaDB" providerName="System.Data.SqlClient" connectionString="Data Source=(localdb)\.\SharedDB;Initial Catalog=deltadb;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
    <!-- VS2013: -->
    <!--connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\CalculatorDB.mdf;Integrated Security=True;"-->
    <!-- VS2015: -->
    <!--connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\CalculatorDB.mdf;Integrated Security=True"-->
  </connectionStrings>
</configuration>